APP_ENV=development

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=photopro
RABBITMQ_PASS=photopro
RABBITMQ_VHOST=/

# Noms de l'exchange et de la queue
AMQP_EXCHANGE=photopro.events
AMQP_QUEUE=notifications
# Mailer
MAILER_DSN=smtp://mailpit:1025
MAILER_FROM=noreply@photopro.net