# S3 Configuration
S3_ENDPOINT=http://localhost:8333
S3_REGION=us-east-1
S3_ACCESS_KEY=any
S3_SECRET_KEY=any
S3_BUCKET=photo-pro

# S3 Internal (pour Docker)
S3_ENDPOINT_INTERNAL=http://s3:8333

# JWT Configuration
# /!\ Doit être IDENTIQUE à celle du service-auth (min 32 caractères)
JWT_SECRET=votre_secret_tres_long_et_securise_32_chars