# Configuration de l'application
APP_DEBUG=true

# Configuration SeaweedFS (S3)
# Endpoint interne pour l'upload (depuis le conteneur PHP vers le conteneur S3)
S3_INTERNAL_ENDPOINT=http://S3:8333
# Endpoint externe pour l'affichage (depuis le navigateur vers localhost)
S3_EXTERNAL_ENDPOINT=http://localhost:8333

S3_REGION=us-east-1
S3_BUCKET=photo-pro
S3_ACCESS_KEY=ABCDEF
S3_SECRET_KEY=123456

# Sécurité (doit être identique au service-auth)
JWT_SECRET=votre_secret_tres_long_et_securise_32_chars
